<launch> 

	<node name="ublox_gps_node" pkg="ublox_gps" type="ublox_gps" clear_params="true" output="screen">

		<param name="config_on_startup" value="false"/>
		<rosparam command="load" file="$(find ublox_gps)/config/nmea.yaml"/>
		<param name="device" value="/dev/ttyUSB1"/>
		<param name="frame_id" value="ublox_frame"/>

		
	</node>


</launch>
