<launch>
   

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node12">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>

  <node respawn="true" pkg="joy"
        type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <node pkg="kapsul_rover" type="joystick.py" name="cmd_vel"/> 

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node2">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="57600"/>
  </node>

  
</launch>
