<?xml version="1.0" encoding="utf-8"?>

<robot name="luminious" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename='$(find kapsul_rover)/urdf/model.xacro'/>
    <xacro:include filename='$(find kapsul_rover)/urdf/skid_steer.gazebo'/>

    <xacro:kapsul_description/>
    

</robot> 